<div class="card">
    <div class = "card-body"> 
        <h3 class="card-title">Id: {{cell.id}} </h3>
        <div class="row">
            <h4 class="col-7">Code: {{cell.code}} </h4>
            <h4 class="col-5">Shelf: {{cell.shelf}} </h4>
        </div>
        <div class="row">
            <h4 class="col-7">Position: {{cell.position}} </h4>
            <h4 class="col-5">Type: {{cellType}} </h4>
        </div>
        <!-- <a class="card-link text-decoration-none" routerLink='/cells/stand'>
            <h5>View cells</h5>
        </a>  -->
    </div>    
</div>
