html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffc73894;
    display: flex;
    width: 100%;
}